.user-title {
  background-color: #212121;
  color: #CFD8DC;
  font-size: 2em;
  margin: 0;
  padding: 1em;
  border: 0;
  border-radius: 1em 0 0 1em;
  font-family: sans-serif;
}

.favorites {
  font-size: 1.5em;
  background-color: #006992;
  color: #CFD8DC;
  border: 0;
  font-family: sans-serif;
}

.log-out {
  font-size: 1.5em;
  background-color: #27476E;
  color: #CFD8DC;
  border: 0;
  font-family: sans-serif;
}

.sign-in-sign-up {
  padding: .5em 0;
  display: flex;
  justify-content: flex-end;
  background-color: #9E9E9E;
}

.login {
  background-color: #006992;
  color: #CFD8DC;
  font-size: 2em;
  margin: 0;
  padding: 1em;
  border: 0;
  border-radius: 1em 0 0 1em;
  font-family: sans-serif;
}

.signup {
  background-color: #27476E;
  color: #CFD8DC;
  font-size: 2em;
  margin: 0;
  padding: 1em;
  border: 0;
  font-family: sans-serif;
}