.movie-container {
  display: flex;
  overflow: auto;
  white-space: nowrap;
}

.movie-container div {
  padding: 1em;
  background-color: #006992;
  color: #CFD8DC;
  border-radius: 1em;
  font-family: sans-serif;
  margin: 1em;
}

.movie-container h3 {
  margin: .5em 0;
}

.movie-container div button {
  background-color: #212121;
  border: 1px solid darkorange;
  border-radius: 1em;
  font-size: 1em;
  color: #CFD8DC;
  padding: .5em 1em;
  font-family: sans-serif;
}

.favorite {
  box-shadow: 5px 5px darkorange;
}
